.main {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}
.main img {
  width: 90%;
  border-radius: 20px;
   
  margin: 40px 10px 0px 15px;

  @include desktop {
    width: 97%;
    margin: 40px 20px 0px 15px;
  }
  @include tablet {
    width: 97%;
    margin: 40px 20px 0px 15px;
  }
}
.h1__title {
    @include h1;
}
.paragraf__text { 
    @include paragraf;
}

