@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@300;500;700&display=swap");
@import url(https://fonts.googleapis.com/css?family=Roboto:300,400,500,900);
.tablet-grid {
  display: -ms-grid;
  display: grid;
  height: 100vh;
  -ms-grid-columns: (1)[4];
      grid-template-columns: repeat(4, 1);
  -ms-grid-rows: 0.2fr 1.5fr 1.2fr 0.8fr;
      grid-template-rows: 0.2fr 1.5fr 1.2fr 0.8fr;
      grid-template-areas: "nav nav nav nav" "main main main main" "about about about sidebar" "contact contact contact sidebar" "footer footer footer footer";
  gap: 0.5rem;
}

.desktop-grid {
  display: -ms-grid;
  display: grid;
  height: 100vh;
  -ms-grid-columns: (1)[4];
      grid-template-columns: repeat(4, 1);
  -ms-grid-rows: 0.2fr 1.5fr 1.2fr 0.8fr;
      grid-template-rows: 0.2fr 1.5fr 1.2fr 0.8fr;
      grid-template-areas: "nav nav nav nav" "main main main main" "about about about sidebar" "contact contact contact sidebar" "footer footer footer footer";
  gap: 0.5rem;
}

.large-grid {
  display: -ms-grid;
  display: grid;
  height: 100vh;
  -ms-grid-columns: (1)[4];
      grid-template-columns: repeat(4, 1);
  -ms-grid-rows: 0.2fr 1.5fr 1.2fr 0.8fr;
      grid-template-rows: 0.2fr 1.5fr 1.2fr 0.8fr;
      grid-template-areas: "nav nav nav nav" "main main main main" "about about about sidebar" "contact contact contact sidebar" "footer footer footer footer";
  gap: 0.5rem;
}

body {
  font-family: "Outfit", sans-serif;
  background-color: beige;
}

html {
  scroll-behavior: smooth;
}

nav {
  background-color: #4b2103;
}

nav .navigator {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  border-bottom: solid burlywood;
  -webkit-box-shadow: rgba(0, 0, 0, 0.589) 0px 5px 15px;
          box-shadow: rgba(0, 0, 0, 0.589) 0px 5px 15px;
}

@media only screen and (min-width: 992px) {
  nav .navigator {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
}

@media only screen and (min-width: 768px) {
  nav .navigator {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
}

nav .navigator_item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  margin: 10px;
}

.navigator img {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 15%;
}

a {
  line-height: 25px;
  text-align: center;
  text-decoration: none;
  color: burlywood;
  text-transform: uppercase;
  font-size: 20px;
  letter-spacing: 3pt;
}

a:hover {
  color: bisque;
  font-style: italic;
}

.main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.main img {
  width: 90%;
  border-radius: 20px;
  margin: 40px 10px 0px 15px;
}

@media only screen and (min-width: 992px) {
  .main img {
    width: 97%;
    margin: 40px 20px 0px 15px;
  }
}

@media only screen and (min-width: 768px) {
  .main img {
    width: 97%;
    margin: 40px 20px 0px 15px;
  }
}

.h1__title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-size: 35px;
  text-transform: uppercase;
  background-color: #4b2103;
  border-radius: 10px;
  color: burlywood;
  padding: 3px;
  -webkit-box-shadow: rgba(0, 0, 0, 0.589) 0px 5px 15px;
          box-shadow: rgba(0, 0, 0, 0.589) 0px 5px 15px;
}

.paragraf__text {
  color: #4b2103;
  background-color: #e2e2cc;
  text-align: center;
  font-size: large;
  margin: 15px;
  padding: 15px;
  border-radius: 20px;
  -webkit-box-shadow: rgba(0, 0, 0, 0.589) 0px 5px 15px;
          box-shadow: rgba(0, 0, 0, 0.589) 0px 5px 15px;
}

.gods {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.gods-title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-size: 35px;
  text-transform: uppercase;
  background-color: #4b2103;
  border-radius: 10px;
  color: burlywood;
  padding: 3px;
  -webkit-box-shadow: rgba(0, 0, 0, 0.589) 0px 5px 15px;
          box-shadow: rgba(0, 0, 0, 0.589) 0px 5px 15px;
}

.gods-paragraf {
  color: #4b2103;
  background-color: #e2e2cc;
  text-align: center;
  font-size: large;
  margin: 15px;
  padding: 15px;
  border-radius: 20px;
  -webkit-box-shadow: rgba(0, 0, 0, 0.589) 0px 5px 15px;
          box-shadow: rgba(0, 0, 0, 0.589) 0px 5px 15px;
}

.gods img {
  width: 80%;
  border-radius: 10px;
  margin-bottom: 10px;
  -webkit-filter: brightness(10%);
          filter: brightness(10%);
}

@media only screen and (min-width: 992px) {
  .gods img {
    width: 50%;
    margin: 40px 20px;
  }
}

@media only screen and (min-width: 768px) {
  .gods img {
    width: 50%;
    margin: 40px 20px;
  }
}

.gods img:hover {
  -webkit-filter: brightness(100%);
          filter: brightness(100%);
}

.footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin: 50px 20px 10px;
  background-color: #4b2103;
  border-bottom: solid burlywood;
  -webkit-box-shadow: rgba(0, 0, 0, 0.589) 0px 5px 15px;
          box-shadow: rgba(0, 0, 0, 0.589) 0px 5px 15px;
  line-height: 25px;
  color: burlywood;
  text-transform: uppercase;
  font-size: 12px;
  padding: 10px;
}

@media only screen and (min-width: 992px) {
  .footer {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
}

@media only screen and (min-width: 768px) {
  .footer {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
}

.footer:hover {
  color: #f19d35;
  cursor: all-scroll;
}

.eye {
  width: 10%;
}

/* Load google's Roboto font*/
/* Reboot */
html,
body {
  margin: 0 !important;
}

/* Typography */
body {
  font-family: "Roboto", "Helvetica Neue, Helvetica, Arial";
}

/*Convertion Ration sp to rem for html */
.base-h1 {
  font-weight: 300;
  font-size: 6rem;
  letter-spacing: -0.00098px;
}

.base-h2 {
  font-weight: 300;
  font-size: 3.75rem;
  letter-spacing: -0.00052px;
}

.base-h3 {
  font-weight: 400;
  font-size: 3rem;
  letter-spacing: 0px;
}

.base-h4 {
  font-weight: 400;
  font-size: 2.125rem;
  letter-spacing: 0.00046px;
}

.base-h5 {
  font-weight: 400;
  font-size: 1.5rem;
  letter-spacing: 0px;
}

.base-h6 {
  font-weight: 500;
  font-size: 1.25rem;
  letter-spacing: 0.00047px;
}

.base-subtitle1 {
  font-weight: 400;
  font-size: 1rem;
  letter-spacing: 0.00059px;
}

.base-subtitle2 {
  font-weight: 500;
  font-size: 0.875rem;
  letter-spacing: 0.00045px;
}

.base-body1 {
  font-weight: 400;
  font-size: 1rem;
  letter-spacing: 0.00195px;
}

.base-body2 {
  font-weight: 400;
  font-size: 0.875rem;
  letter-spacing: 0.00112px;
}

.base-button {
  font-weight: 500;
  font-size: 0.875rem;
  letter-spacing: 0.00335px;
  text-transform: uppercase;
}

.base-caption {
  font-weight: 400;
  font-size: 0.75rem;
  letter-spacing: 0.00208px;
}

.base-overline {
  font-weight: 400;
  font-size: 0.625rem;
  letter-spacing: 0.00937px;
  text-transform: uppercase;
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html,
body,
div,
span,
object,
iframe,
figure,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
code,
em,
img,
small,
strike,
strong,
sub,
sup,
tt,
b,
u,
i,
ol,
ul,
li,
fieldset,
form,
label,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
main,
canvas,
embed,
footer,
header,
nav,
section,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -webkit-text-size-adjust: none;
     -moz-text-size-adjust: none;
      -ms-text-size-adjust: none;
          text-size-adjust: none;
}

footer,
header,
nav,
section,
main {
  display: block;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

input {
  -webkit-appearance: none;
  border-radius: 0;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
nav,
section,
summary {
  display: block;
}

audio,
canvas,
video {
  display: inline-block;
}

audio:not([controls]) {
  display: none;
  height: 0;
}

[hidden],
template {
  display: none;
}

html {
  background: #fff;
  color: #000;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
}

html,
button,
input,
select,
textarea {
  font-family: sans-serif;
}

body {
  margin: 0;
}

a {
  background: transparent;
}

a:focus {
  outline: thin dotted;
}

a:hover, a:active {
  outline: 0;
}

h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

h2 {
  font-size: 1.5em;
  margin: 0.83em 0;
}

h3 {
  font-size: 1.17em;
  margin: 1em 0;
}

h4 {
  font-size: 1em;
  margin: 1.33em 0;
}

h5 {
  font-size: 0.83em;
  margin: 1.67em 0;
}

h6 {
  font-size: 0.75em;
  margin: 2.33em 0;
}

abbr[title] {
  border-bottom: 1px dotted;
}

b,
strong {
  font-weight: bold;
}

dfn {
  font-style: italic;
}

mark {
  background: #ff0;
  color: #000;
}

code,
kbd,
pre,
samp {
  font-family: monospace, serif;
  font-size: 1em;
}

pre {
  white-space: pre;
  white-space: pre-wrap;
  word-wrap: break-word;
}

q {
  quotes: "“" "”" "‘" "’";
}

q:before, q:after {
  content: "";
  content: none;
}

small {
  font-size: 80%;
}

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sup {
  top: -0.5em;
}

sub {
  bottom: -0.25em;
}

img {
  border: 0;
}

svg:not(:root) {
  overflow: hidden;
}

figure {
  margin: 0;
}

fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em;
}

legend {
  border: 0;
  padding: 0;
  white-space: normal;
}

button,
input,
select,
textarea {
  font-family: inherit;
  font-size: 100%;
  margin: 0;
  vertical-align: baseline;
}

button,
input {
  line-height: normal;
}

button,
select {
  text-transform: none;
}

button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
  -webkit-appearance: button;
  cursor: pointer;
}

button[disabled],
input[disabled] {
  cursor: default;
}

button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0;
}

textarea {
  overflow: auto;
  vertical-align: top;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

input[type="search"] {
  -webkit-appearance: textfield;
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
}

input[type="search"]::-webkit-search-cancel-button, input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}

input[type="checkbox"], input[type="radio"] {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
}
/*# sourceMappingURL=main.css.map */